header {
  display: flex; /* 한줄에 표현 */
  justify-content: space-between; /* 사이에 공간 */
  align-items: center; /* 가운데 정렬 */
  margin-bottom: 30px; /* 밑 마진 */
}

header .header__title {
  font-size: 24px;
  font-weight: 700;
}

header .header__icon {
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}
